<div style="text-align: center">
<h1>Almacena plantas, capitán</h1>
  <legend ><p style="font-size: 20px; color: blueviolet;">Elige entre árbol o arbusto:</p></legend>
  <input style="border-style:groove;" type="text" [(ngModel)]="nuevaTarea">
  <!-- []-> variable -->
  <!-- Sin []-> string -->
  <div>
    <br>
    <input type="radio" name="nplantas2" id="nplantas" [(ngModel)]="nplantas2"  value="Arbol">Árbol

    <input type="radio" name="nplantas2" id="nplantas" [(ngModel)]="nplantas2"  value="Arbusto">Arbusto      
  </div>
  <br>
  <boton (click)="addTarea()" texto="Aceptar"></boton>
  <boton (click)="borrar2()" texto="Cancelar"></boton> 
  <br>

<ul style="text-align: center;">
  <li style="list-style:none" *ngFor="let tarea of tareas" [class.done]="tarea.done ===true">
    <elementos [tarea]="tarea" (eventoBorrar)="borrar(tarea)" (eventoCompletar)="cambiarEstado($event,tarea)">
    </elementos>
  </li>
</ul>
</div>